body {
    min-width: 650px;
    height: 100vh;
    margin:auto;
    padding: 0;
    color: black;
    background:#c4c3c3 url(../img/bois.jpg) no-repeat center top;
    background-size:cover;
    text-align: center;
}

header {
    font-size: 1em;
    display:flex;
    flex-direction: row;
    justify-content: center;
    min-height: 118px;
}

h1{
    width: 40vw;
    color:black;
    margin:0;
    padding-top:0.5em;
    font-size: 4em;
}

.btn {
    width: 30vw;
    display: flex;
    display:none;
}

.reload {
    display:none;
    margin: auto;
    color: black;
    font-size: 3em;
    text-shadow: 0.05em 0.05em 0.1em black;
    height: 50%;
    border-color: black;
    border-style: outset;
    border-top: none;
    border-left: none;
    background: black url(../img/bois.jpg) no-repeat center top;
    background-size:cover;

}

.reload:hover{
    transform: translateY(0.5%) scale(0.95) rotate(0deg);
}

.victoir {
    display:none;
    width: 30vw;}

.victoir img{

    vertical-align: middle;

}

.victoir .fa{
    font-size: 4em;
    vertical-align: middle;
}

.container{
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family:"times new roman", times, serif;
}

table{
    display: inline-block;
    margin:1em;
}

td {
    background-color: #318408;
    width:1.2em;
    height:1.2em;
    border:0.1em solid #515454;
    border-radius: 0.15em;
    box-shadow: .2em .2em 0.2em #3D3F3F;
    font-size: 3em;
}
td:active{
    transform: translateY(0.5%) scale(0.95) rotate(0deg);
}


.blanc {
    color:white;
}

.noir {
    color:black;
}

.indic{
    font-size: 2.5em;
}

